* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdd39b;
}

.background-image {
    height: 100vh;
    background: url("pancakes2.jpg") no-repeat center fixed;
    background-size: cover;
    overflow: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    display: none;
}

.main-columns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-bottom: 30px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

aside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}

.title {
    width: 100%;
    margin: 15px 0 0 0;
}

.main-title {
    font-size: 40px;
}

.description {
    display: flex;
    width: 100%;
}

.description-title {
    font-size: 30px;
}

.description-box {
    width: 40%;
    height: 75%;
    margin-left: 35px;
}

.description-text {
    font-size: 18px;
}

.instructions {
    width: 100%;
    margin-top: 100px;
}

.instructions-box {
    width: 95%;
}

.instructions-title {
    font-size: 25px;
}

.ingredients {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ingredients-box {
    width: 40%;
    height: 75%;
    margin-right: 35px;
}

.ingredients-title {
    font-size: 30px;
}

.ingredients-list-item {
    margin-bottom: 2px;
    font-size: 15px;
}

.instructions-list-item {
    margin-bottom: 2px;
    font-size: 15px;
}

.background {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 2px 2px black;
    background-color: #692e14;
    padding: 10px 10px 10px 10px;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.margin-padding-list {
    padding-left: 25px;
}

@media (max-width: 1200px) {
    .main-columns {
        margin-top: 650px;
    }

    .description {
        justify-content: center;
    }

    .description-box {
        width: 60%;
        height: 100%;
    }

    .ingredients {
        justify-content: center;
    }

    .ingredients-box {
        width: 60%;
        height: 100%;
    }

    .instructions {
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .background-image {
        background: none;
    }

    .image {
        width: 100%;
        display: block;
        margin-top: 30px;
    }

    .main-columns {
        margin-top: 50px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .description-box {
        margin: 0;
    }

    .ingredients {
        width: 100%;
        justify-content: center;
    }

    .ingredients-box {
        justify-content: flex-end;
        margin: 75px 0 0 0;
    }

    .instructions {
        margin-top: 95px;
    }
}

@media (max-width: 550px) {
    .description-box {
        width: 95%;
    }

    .ingredients-box {
        width: 95%;
    }
}

@media (max-width: 429px) {
    .ingredients {
        width: 100%;
        justify-content: center;
    }

    .footer-text {
        font-size: 25px;
    }
}