* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: burlywood;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("pancake.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-columns {
    display: flex;
    flex-direction: row-reverse;
    margin: 500px 0 50px 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 30%;
    margin: 25px 0 0 0;
}

.main-title {
    font-size: 50px;
}

.instructions {
    width: 70%;
}

.instructions-title {
    font-size: 30px;
}

.ingredients-box {
    width: 300px;
    height: 350px;
}

.ingredients-title {
    font-size: 30px;
}

.ingredients-list-item {
    margin-bottom: 10px;
    font-size: 20px;
}

.instructions-list-item {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-box {
    margin-top: 15px;
    padding-bottom: 30px;
}

.footer-text {
    width: 100%;
    font-size: 35px;
}

.background {
    border-radius: 15px 15px 15px 15px;
    background-color: #692e14;
    padding: 10px 10px 10px 10px;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.margin-padding-list {
    padding-left: 25px;
}

@media (max-width: 992px) {
    .main-columns {
        display: flex;
        flex-direction: column;
    }

    .instructions {
        width: 300px;
        margin-top: 50px;
    }


}





