* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: burlywood;
    display: flex;
    justify-content: center;
    background-image: url("pancake.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main-columns {
    display: flex;
    flex-direction: row-reverse;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 40px 0 0 0;
}

.main-title {
    font-size: 30px;
}

.instructions {
    width: 50%;
}

.footer-box {
    width: 140px;
    margin-top: 15px;
    padding-bottom: 30px;
}

.background {
    border-radius: 15px 15px 15px 15px;
    background-color: #692e14;
    padding: 10px 10px 10px 10px;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.margin-padding-list {
    padding-left: 16px;
}







